@{
    ViewBag.Title = "报警管理-审核";
}
<link href="~/Content/css/BJGL_JSTXBJ_SH.css" rel="stylesheet" />
<div class="contentbody" id="contentbody">
    <div class="contentInfo">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr><th colspan="2">审计详细信息</th></tr>
            <tr>
                <td style="width: 50%;">
                    <span class="spanTitle">审计条件-微信:</span>
                    <span class="spanText">50-A7-C3-33-44</span>
                </td>
                <td style="width: 50%;">
                    <span class="spanTitle">审计任务名称:</span>
                    <span class="spanText">mac_wrx</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="spanTitle">是否邮件报警:</span>
                    <span class="spanText">50-A7-C3-33-44</span>
                </td>
                <td>
                    <span class="spanTitle">接收邮箱地址:</span>
                    <span class="spanText">625968931@qq.com</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="spanTitle">负责人:</span>
                    <span class="spanText">汪如祥</span>
                </td>
                <td>
                    <span class="spanTitle">负责人电话:</span>
                    <span class="spanText">17512007984</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="spanTitle">布控时间:</span>
                    <span class="spanText">2017-07-28 16:55:33</span>
                </td>
                <td>
                    <span class="spanTitle">审计条件-审计有效时间至:</span>
                    <span class="spanText">2017-07-29 12:55:33</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="spanTitle">案件说明:</span>
                    <span class="spanText">一个神奇的男子。</span>
                </td>
                <td></td>
            </tr>
        </table>
        <table border="0" cellspacing="0" cellpadding="0">
            <tr><th colspan="2">报警详细信息</th></tr>
            <tr>
                <td style="width: 50%;">
                    <span class="spanTitle">场所名称:</span>
                    <span class="spanText">深圳市网安计算机安全检测技术有限公司</span>
                </td>
                <td style="width: 50%;">
                    <span class="spanTitle">报警时间:</span>
                    <span class="spanText">2017-07-29 10:06:40</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="spanTitle">移动设备MAC地址:</span>
                    <span class="spanText">50-A7-C3-33-44-6D</span>
                </td>
                <td>
                    <span class="spanTitle">AP设备MAC地址:</span>
                    <span class="spanText">50-A7-C3-33-44-C3</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="spanTitle">手机号码:</span>
                    <span class="spanText">17512007984</span>
                </td>
                <td>
                    <span class="spanTitle">场所内网端口号:</span>
                    <span class="spanText">13146</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="spanTitle">场所内网IP地址:</span>
                    <span class="spanText">192.168.3.144</span>
                </td>
                <td>
                    <span class="spanTitle">源外网IPv4地址:</span>
                    <span class="spanText">192.168.3.144</span>
                </td>

            </tr>
            <tr>
                <td>
                    <span class="spanTitle">是否已经发送邮件报警:</span>
                    <span class="spanText" style="color: #ff4b38;">是</span>
                </td>
                <td>
                    <span class="spanTitle">目的公网IPv4地址:</span>
                    <span class="spanText">192.168.3.133</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="spanTitle">警报类型:</span>
                    <span class="spanText">审计警报</span>
                </td>
                <td></td>
            </tr>
        </table>
        <!--<ul>
            <li>
                <span>审计详细信息</span>
            </li>
            <li class="liText">
                <div class="liTextLeft">
                    <span class="spanTitle">审计条件-微信:</span>
                    <span class="spanText">50-A7-C3-33-44</span>
                    <span class="spanTitle">邮箱:</span>
                    <span class="spanText">625968931@qq.com</span>
                </div>
                <div class="liTextRight">
                    <span class="spanTitle">机构代码:</span>
                    <span class="spanText">60-32-88-4C-6F</span>
                    <span class="spanTitle">创建时间:</span>
                <span class="spanText">2017/07/27 14:35:31</span>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <span>报警详细信息</span>
            </li>
            <li class="liText">
                <span class="spanTitle">IMSI:</span>
                <span class="spanText">1314/个</span>
                <span class="spanTitle">IMEI:</span>
                <span class="spanText">520/个</span>
                <span class="spanTitle">虚拟身份:</span>
                <span class="spanText">1,314,520/个</span>
                <span class="spanTitle">MAC:</span>
                <span class="spanText">12345/个</span>
            </li>
        </ul>-->
    </div>
</div>

