@{
    ViewBag.Title = "Index";
}
<button id="Get">Get</button>
<button id="Post">Post</button>
<button id="Delete">Delete</button>
<script>
    //$("#Get").click(function () {
    //    $.ajax({
    //        type: "GET",
    //        url: '/Location/Location' ,
    //        success: function (data) {

    //        }
    //    });
    //});
    //$("#Post").click(function () {
    //    $.ajax({
    //        type: "POST",
    //        url: '/Location/Location',
    //        success: function (data) {

    //        }
    //    });
    //});
    //$("#Delete").click(function () {
    //    $.ajax({
    //        type: "DELETE",
    //        url: '/Location/Location',
    //        success: function (data) {

    //        }
    //    });
    //});
</script>

