/*=============================================================================*/
/*===========================头部公共样式（top、header）========================*/
/*=============================================================================*/
		.clearboth{clear: both;}
		body{background-color: #0e0d1b;}
		
		/* 设置滚动条的样式 */
        ::-webkit-scrollbar{
            width: 4px;
        }
        /*滚动槽*/
        ::-webkit-scrollbar-track{
            /*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3) ;*/
            border-radius: 20px;
        }
        /* 滚动条滑块 */
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: rgba(38,55,56, 1);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(0,0,0,1);
        }
		
		
		/*最顶部top*/
		.top{width: 100%;min-width: 1366px;height: 50px;color: #616363;font: 12px "microsoft yahei";line-height: 50px;}
		.top .toplogo{float: left;}
		.top .toplogin{float: right;margin-right: 30px;}
		.top .toplogin span{display: inline-block;margin-right:6px;}
		.top .toplogin .loginUser{display: inline-block;margin-right: 15px;margin-left: 15px;}
		.top .toplogin .loginUser a{color: #aaaaaa;}
		.top .toplogin input{width: 90px;height: 30px;cursor: pointer;background-color: #146C83;border-radius: 2px;color: #7bd2da;border:none;}
		/*头部导航栏header*/
		.header{position: relative;z-index: 3;width: 100%;min-width: 1366px;margin: 0 auto;background-color: #161523;box-shadow: 0px 2px 15px #000000;/*box-shadow:0px 3px 15px 1px #000000;*/}
		.header ul{padding-top: 10px;padding-bottom: 10px;width: 1366px;margin: 0 auto;}
		.header ul li{background-color: #1C1C2A;box-sizing: border-box;margin-right: 7px;display: inline-block;width: 141px;height: 95px;text-align: center;background-repeat: no-repeat;cursor: pointer;background-position:53.5px 15px;border: 1px solid #212030;background-size: 34px 34px;}
		.header ul li:first-child{}
		/*.header ul li.active a{color: #ebf5bc;}*/
		.header ul li a{color: #616363;display: inline-block;padding-top: 60px;font: 14px "microsoft yahei";}
		.header ul li:hover{box-shadow: 0px 0px 10px #000000;}
		.header ul li:hover a{color: #089cb8;} 

		.header ul li.SY{background-image: url(../images/INDEXgray.png);}    /*默认状态,未选中,未划过状态*/
		.header ul li.SY:hover{background-image: url(../images/INDEXblue.png);}
		.header ul li.SY1{background-image: url(../images/INDEXblue.png);}    /*划过状态*/
		.header ul li.SY1 a{color: #089CB8;}
		.header ul li.SY2{background-image: url(../images/INDEXblue.png);}    /*选中状态*/
		.header ul li.SY2 a{color: #ebf5bc;}
		
		.header ul li.YJCX{background-image: url(../images/YJCXgray.png);} /*默认状态,未选中,未划过状态*/
		.header ul li.YJCX:hover{background-image: url(../images/YJCXblue.png);}
		.header ul li.YJCX1{background-image: url(../images/YJCXblue.png);}    /*划过状态*/
		.header ul li.YJCX1 a{color: #089CB8;}
		.header ul li.YJCX2{background-image: url(../images/YJCXblue.png);}    /*选中状态*/
		.header ul li.YJCX2 a{color: #ebf5bc;}
		
		.header ul li.MACFX{background-image: url(../images/MACgray.png);} /*默认状态,未选中,未划过状态*/
		.header ul li.MACFX:hover{background-image: url(../images/MACblue.png);}
		.header ul li.MACFX1{background-image: url(../images/MACblue.png);}    /*划过状态*/
		.header ul li.MACFX1 a{color: #089CB8;}
		.header ul li.MACFX2{background-image: url(../images/MACblue.png);}    /*选中状态*/
		.header ul li.MACFX2 a{color: #ebf5bc;}
		
		
		.header ul li.WLFX{background-image: url(../images/WLFXgray.png);} /*默认状态,未选中,未划过状态*/
		.header ul li.WLFX:hover{background-image: url(../images/WLFXblue.png);}
		.header ul li.WLFX1{background-image: url(../images/WLFXblue.png);}    /*划过状态*/
		.header ul li.WLFX1 a{color: #089CB8;}
		.header ul li.WLFX2{background-image: url(../images/WLFXblue.png);}    /*选中状态*/
		.header ul li.WLFX2 a{color: #ebf5bc;}
		
		.header ul li.CPFX{background-image: url(../images/CPFXgray.png);} /*默认状态,未选中,未划过状态*/
		.header ul li.CPFX:hover{background-image: url(../images/CPFXblue.png);}
		.header ul li.CPFX1{background-image: url(../images/CPFXblue.png);}    /*划过状态*/
		.header ul li.CPFX1 a{color: #089CB8;}
		.header ul li.CPFX2{background-image: url(../images/CPFXblue.png);}    /*选中状态*/
		.header ul li.CPFX2 a{color: #ebf5bc;}
		
		.header ul li.TZPZ{background-image: url(../images/TZPZgray.png);} /*默认状态,未选中,未划过状态*/
		.header ul li.TZPZ:hover{background-image: url(../images/TZPZblue.png);}
		.header ul li.TZPZ1{background-image: url(../images/TZPZblue.png);}    /*划过状态*/
		.header ul li.TZPZ1 a{color: #089CB8;}
		.header ul li.TZPZ2{background-image: url(../images/TZPZblue.png);}    /*选中状态*/
		.header ul li.TZPZ2 a{color: #ebf5bc;}
		
		.header ul li.CSGL{background-image: url(../images/CSGLgray.png);} /*默认状态,未选中,未划过状态*/
		.header ul li.CSGL:hover{background-image: url(../images/CSGLblue.png);}
		.header ul li.CSGL1{background-image: url(../images/CSGLblue.png);}    /*划过状态*/
		.header ul li.CSGL1 a{color: #089CB8;}
		.header ul li.CSGL2{background-image: url(../images/CSGLblue.png);}    /*选中状态*/
		.header ul li.CSGL2 a{color: #ebf5bc;}
		
		.header ul li.BJGL{background-image: url(../images/BJGLgray.png);} /*默认状态,未选中,未划过状态*/
		.header ul li.BJGL:hover{background-image: url(../images/BJGLblue.png);}
		.header ul li.BJGL1{background-image: url(../images/BJGLblue.png);}    /*划过状态*/
		.header ul li.BJGL1 a{color: #089CB8;}
		.header ul li.BJGL2{background-image: url(../images/BJGLblue.png);}    /*选中状态*/
		.header ul li.BJGL2 a{color: #ebf5bc;}
		
		
		.header ul li.XTGL{background-image: url(../images/XTGLgray.png);} /*默认状态,未选中,未划过状态*/
		.header ul li.XTGL:hover{background-image: url(../images/XTGLblue.png); }
		.header ul li.XTGL1{background-image: url(../images/XTGLblue.png);}    /*划过状态*/
		.header ul li.XTGL1 a{color: #089CB8;}
		.header ul li.XTGL2{background-image: url(../images/XTGLblue.png);}    /*选中状态*/
		.header ul li.XTGL2 a{color: #ebf5bc;}
		/*首页主要内容区域content*/
		.content{width: 100%;min-width: 1366px;position: relative;z-index: 1;overflow: hidden;margin: 0 auto;}
		
		/*分页显示样式*/
        .pag_td
        {
            text-align: center;
            float: right;
            padding-right: 15px;
        }
        .pag1
        {
            display: inline-block;
        }
        .pag_all
        {
            display: inline-block;
        }
        img{display: inline-block;}
   